$inter-font-display: swap !default;
$inter-font-path: 'Inter (web)' !default;

@mixin inter-100-normal {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-display: $inter-font-display;
    src: url("#{$inter-font-path}/Inter-Thin.woff2") format("woff2"),
    url("#{$inter-font-path}/Inter-Thin.woff") format("woff");
  }
}

@mixin inter-100-italic {
  @font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-display: $inter-font-display;
    src: url("#{$inter-font-path}/Inter-ThinItalic.woff2") format("woff2"),
    url("#{$inter-font-path}/Inter-ThinItalic.woff") format("woff");
  }
}

@mixin inter-100 {
  @include inter-100-normal;
  @include inter-100-italic;
}

@mixin inter-200-normal {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-display: $inter-font-display;
    src: url("#{$inter-font-path}/Inter-ExtraLight.woff2") format("woff2"),
    url("#{$inter-font-path}/Inter-ExtraLight.woff") format("woff");
  }
}

@mixin inter-200-italic {
  @font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 200;
    font-display: $inter-font-display;
    src: url("#{$inter-font-path}/Inter-ExtraLightItalic.woff2") format("woff2"),
    url("#{$inter-font-path}/Inter-ExtraLightItalic.woff") format("woff");
  }
}

@mixin inter-200 {
  @include inter-200-normal;
  @include inter-200-italic;
}

@mixin inter-300-normal {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: $inter-font-display;
    src: url("#{$inter-font-path}/Inter-Light.woff2") format("woff2"),
    url("#{$inter-font-path}/Inter-Light.woff") format("woff");
  }
}

@mixin inter-300-italic {
  @font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-display: $inter-font-display;
    src: url("#{$inter-font-path}/Inter-LightItalic.woff2") format("woff2"),
    url("#{$inter-font-path}/Inter-LightItalic.woff") format("woff");
  }
}

@mixin inter-300 {
  @include inter-300-normal;
  @include inter-300-italic;
}

@mixin inter-400-normal {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: $inter-font-display;
    src: url("#{$inter-font-path}/Inter-Regular.woff2") format("woff2"),
    url("#{$inter-font-path}/Inter-Regular.woff") format("woff");
  }
}

@mixin inter-400-italic {
  @font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-display: $inter-font-display;
    src: url("#{$inter-font-path}/Inter-Italic.woff2") format("woff2"),
    url("#{$inter-font-path}/Inter-Italic.woff") format("woff");
  }
}

@mixin inter-400 {
  @include inter-400-normal;
  @include inter-400-italic;
}

@mixin inter-500-normal {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: $inter-font-display;
    src: url("#{$inter-font-path}/Inter-Medium.woff2") format("woff2"),
    url("#{$inter-font-path}/Inter-Medium.woff") format("woff");
  }
}

@mixin inter-500-italic {
  @font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-display: $inter-font-display;
    src: url("#{$inter-font-path}/Inter-MediumItalic.woff2") format("woff2"),
    url("#{$inter-font-path}/Inter-MediumItalic.woff") format("woff");
  }
}

@mixin inter-500 {
  @include inter-500-normal;
  @include inter-500-italic;
}

@mixin inter-600-normal {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: $inter-font-display;
    src: url("#{$inter-font-path}/Inter-SemiBold.woff2") format("woff2"),
    url("#{$inter-font-path}/Inter-SemiBold.woff") format("woff");
  }
}

@mixin inter-600-italic {
  @font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-display: $inter-font-display;
    src: url("#{$inter-font-path}/Inter-SemiBoldItalic.woff2") format("woff2"),
    url("#{$inter-font-path}/Inter-SemiBoldItalic.woff") format("woff");
  }
}

@mixin inter-600 {
  @include inter-600-normal;
  @include inter-600-italic;
}

@mixin inter-700-normal {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: $inter-font-display;
    src: url("#{$inter-font-path}/Inter-Bold.woff2") format("woff2"),
    url("#{$inter-font-path}/Inter-Bold.woff") format("woff");
  }
}

@mixin inter-700-italic {
  @font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-display: $inter-font-display;
    src: url("#{$inter-font-path}/Inter-BoldItalic.woff2") format("woff2"),
    url("#{$inter-font-path}/Inter-BoldItalic.woff") format("woff");
  }
}

@mixin inter-700 {
  @include inter-700-normal;
  @include inter-700-italic;
}

@mixin inter-800-normal {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-display: $inter-font-display;
    src: url("#{$inter-font-path}/Inter-ExtraBold.woff2") format("woff2"),
    url("#{$inter-font-path}/Inter-ExtraBold.woff") format("woff");
  }
}

@mixin inter-800-italic {
  @font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-display: $inter-font-display;
    src: url("#{$inter-font-path}/Inter-ExtraBoldItalic.woff2") format("woff2"),
    url("#{$inter-font-path}/Inter-ExtraBoldItalic.woff") format("woff");
  }
}

@mixin inter-800 {
  @include inter-800-normal;
  @include inter-800-italic;
}

@mixin inter-900-normal {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-display: $inter-font-display;
    src: url("#{$inter-font-path}/Inter-Black.woff2") format("woff2"),
    url("#{$inter-font-path}/Inter-Black.woff") format("woff");
  }
}

@mixin inter-900-italic {
  @font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 900;
    font-display: $inter-font-display;
    src: url("#{$inter-font-path}/Inter-BlackItalic.woff2") format("woff2"),
    url("#{$inter-font-path}/Inter-BlackItalic.woff") format("woff");
  }
}

@mixin inter-900 {
  @include inter-900-normal;
  @include inter-900-italic;
}

@mixin inter {
  @include inter-100;
  @include inter-200;
  @include inter-300;
  @include inter-400;
  @include inter-500;
  @include inter-600;
  @include inter-700;
  @include inter-800;
  @include inter-900;
}

@mixin inter-normal {
  @include inter-100-normal;
  @include inter-200-normal;
  @include inter-300-normal;
  @include inter-400-normal;
  @include inter-500-normal;
  @include inter-600-normal;
  @include inter-700-normal;
  @include inter-800-normal;
  @include inter-900-normal;
}

@mixin inter-italic {
  @include inter-100-italic;
  @include inter-200-italic;
  @include inter-300-italic;
  @include inter-400-italic;
  @include inter-500-italic;
  @include inter-600-italic;
  @include inter-700-italic;
  @include inter-800-italic;
  @include inter-900-italic;
}
