// Inter UI Font (hinted)

@font-face {
  font-family: 'Inter UI';
  src: url("Inter UI (web hinted)/Inter-UI-Regular.woff2") format("woff2"),
       url("Inter UI (web hinted)/Inter-UI-Regular.woff") format("woff");
  font-style:  normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter UI';
  src: url("Inter UI (web hinted)/Inter-UI-Italic.woff2") format("woff2"),
       url("Inter UI (web hinted)/Inter-UI-Italic.woff") format("woff");
  font-style:  italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter UI';
  src: url("Inter UI (web hinted)/Inter-UI-Medium.woff2") format("woff2"),
       url("Inter UI (web hinted)/Inter-UI-Medium.woff") format("woff");
  font-style:  normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Inter UI';
  src: url("Inter UI (web hinted)/Inter-UI-MediumItalic.woff2") format("woff2"),
       url("Inter UI (web hinted)/Inter-UI-MediumItalic.woff") format("woff");
  font-style:  italic;
  font-weight: 500;
}

@font-face {
  font-family: 'Inter UI';
  src: url("Inter UI (web hinted)/Inter-UI-Bold.woff2") format("woff2"),
       url("Inter UI (web hinted)/Inter-UI-Bold.woff") format("woff");
  font-style:  normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Inter UI';
  src: url("Inter UI (web hinted)/Inter-UI-BoldItalic.woff2") format("woff2"),
       url("Inter UI (web hinted)/Inter-UI-BoldItalic.woff") format("woff");
  font-style:  italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Inter UI';
  src: url("Inter UI (web hinted)/Inter-UI-Black.woff2") format("woff2"),
       url("Inter UI (web hinted)/Inter-UI-Black.woff") format("woff");
  font-style:  normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Inter UI';
  src: url("Inter UI (web hinted)/Inter-UI-BlackItalic.woff2") format("woff2"),
       url("Inter UI (web hinted)/Inter-UI-BlackItalic.woff") format("woff");
  font-style:  italic;
  font-weight: 900;
}
