@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("web-latin/Inter-Thin-subset.woff2?v=4.0") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("web-latin/Inter-ThinItalic-subset.woff2?v=4.0") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("web-latin/Inter-ExtraLight-subset.woff2?v=4.0") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("web-latin/Inter-ExtraLightItalic-subset.woff2?v=4.0")
    format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("web-latin/Inter-Light-subset.woff2?v=4.0") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("web-latin/Inter-LightItalic-subset.woff2?v=4.0") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("web-latin/Inter-Regular-subset.woff2?v=4.0") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("web-latin/Inter-Italic-subset.woff2?v=4.0") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("web-latin/Inter-Medium-subset.woff2?v=4.0") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("web-latin/Inter-MediumItalic-subset.woff2?v=4.0") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("web-latin/Inter-SemiBold-subset.woff2?v=4.0") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("web-latin/Inter-SemiBoldItalic-subset.woff2?v=4.0") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("web-latin/Inter-Bold-subset.woff2?v=4.0") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("web-latin/Inter-BoldItalic-subset.woff2?v=4.0") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("web-latin/Inter-ExtraBold-subset.woff2?v=4.0") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("web-latin/Inter-ExtraBoldItalic-subset.woff2?v=4.0") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("web-latin/Inter-Black-subset.woff2?v=4.0") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("web-latin/Inter-BlackItalic-subset.woff2?v=4.0") format("woff2");
}
